*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 166, 0, 0.244);
}
.box{
    margin:2rem .5rem ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.image{
    width: 15vw;
    height: 25vh;

}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* box-shadow: 1px 1px 1rem; */
}
.boxes{
    display: flex;
    padding: 1rem;
    
}
.info{
    padding-left: 1rem;
}
.had{
    color: orange;
    text-align: center;
    padding: 1rem;
}
#fade img{
    filter: grayscale(1);
}
#fade h4,p{
    color: #00000075;
}
.credit{
    font-size:.8em;
    
    background-color: black;
}
.credit p{
    text-align: center;
    color: #fff;
}